@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto light';
    font-stretch: expanded;
}

h1 {
    font-size: 11em;
    text-align: center;
}

h2 {
    font-size: 3em;
    line-height: 2.5em;
}

p, ul, ol {
    font-size: 3em;
    line-height: 1.5em;
}

.title {
  background-image: url("../images/apple-pie.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro {
  padding: 100px 170px 0px 170px;
  text-align: block;
  margin: 0 auto;
}

.intro div {
  width: 100%;
  text-align: center;
  margin: 30px auto;
}

.intro img {
  width: 55%;
  height: auto;
}

.ingredients {
  padding: 40px 170px 0px 170px;
  margin: 0 auto;
  text-align: center;
}

.ingredients h2 {
  text-align: left;
}

.ingredients ul {
  list-style-type: none;
  text-align: left;
  padding-left: 50px;
}

.ingredients ul li::before {
  content: "–";
  margin-right: 5px;
}

.ingredients div {
  width: 100%;
  text-align: center;
  margin: 30px auto;
}

.ingredients img {
  width: 45%;
  height: auto;
}

.directions {
  padding: 40px 170px 100px 170px;
  margin: 0 auto;
}

.directions ol {
  padding-left: 30px;
  list-style-type: none; /* Remove default list style */
}

.directions ol li {
  counter-increment: list-item; /* Increment the list item counter */
}

.directions ol li::before {
  content: counter(list-item) ") "; /* Add the custom marker */
  margin-right: 5px; /* Optional: Add some space between the marker and the text */
}